@{
    ViewBag.Title = "Projekti kohta";
}
<h2>@ViewBag.Title.</h2>

<p>See projekt valmis ASP.net baasil õppeülesande. Siin harjutame vormi täitmist ja esitamist, lehtede redigeerimist ja meie jaoks uusi funktsioone C #-s.</p>
