@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Sõpruse pst 182<br />
    13424 Tallinn<br />
    <abbr title="Telefon:">Telefon:</abbr>
    (+372)654 2833
</address>

<address>
    <strong>Vastuvõtuinfo:</strong>   <a href="mailto:vastuvott@tthk.ee">vastuvott@tthk.ee</a><br />
    <strong>E-post:</strong> <a href="mailto:info@tthk.ee">info@tthk.ee</a>
</address>